/* Add CSS here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
/*===== VARIABLES CSS =====*/

:root {
    --h1-fs: 2rem;    --h1-fs-media: 3rem; 
    --h2-fs: 1.5rem;  --h2-fs-media: 2rem;
    --h3-fs: 1.3rem;  --h3-fs-media: 1.8rem;
    --h4-fs: 1.1rem;  --h4-fs-media: 1.5rem;
    --p-fs: .8rem;    --p-fs-media: 1.1rem;
    --a-fs: .7rem;    --a-fs-media: 1.1rem;
    --li-fs: .7rem;   --li-fs-media: 1.1rem;    

    --clr-bg-main: #a0c9f8;
    --clr-bg-pri: #121637;
    --clr-bg-sec: #b4d4fb;
    --clr-acc-main: #00bea6;
    --clr-acc-pri: #4393f5;
    --clr-acc-sec:  #3676c4;
    --clr-acc-thi: #2e67a9;
    --clr-acc-four: #ad0000;
    --clr-acc-fif: #e03333;
    --clr-text-main: #67696a;
    --clr-text-pri: #36454F;  
    
    --shadow-color: #33cbb8;    
    --main-ff: 'Poppins', sans-serif;
  }

/*===== BASE =====*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-ff);
    font-size: var(--p-fs);
    background: var(--clr-bg-main);
    color: var(--clr-text-main);
    width: 100%;
    min-height: 100vh;
}   

h1, h2, h3, h4,
p, a, li {
    margin: 0;
}

h1 {font-size: var(--h1-fs);}
h2 {font-size: var(--h2-fs);}
h3 {font-size: var(--h3-fs);}
h4 {font-size: var(--h4-fs);}

p, a, li {font-size: var(--p-fs);}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--clr-text-main);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

@keyframes scaleUp {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);

    }
}
    /* animation: scaleUp 1s ease-in-out;
    transform-origin: center center; */

/*===== BUTTONS =====*/

.btn {
    display: inline-block;
    background-color: var(--clr-acc-sec);
    color: #fff;
    padding: .5rem 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    margin-left: .5rem;
    transition: .2s;
}

  
.btn:first-of-type:hover {
    background-color: var(--clr-acc-sec);
    box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}

.btn:active {
    scale: .97;
}

/*===== PROJECT CSS =====*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    min-width: 400px;
    background-color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: scaleUp 1s ease-in-out;
    transform-origin: center center;
}

h3 {
    margin-bottom: .5rem;
}

.container > p {
    margin-bottom: 1rem;
}

.submit > input {
    padding: 0.4rem 1rem;
    border: 1px solid lightgray;
    border-radius: .3rem;
}

.submit > input:focus {
    outline: none;
}

label {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

input[type=checkbox] {
    appearance: none;
    border: 1px solid lightgray;
    min-width: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: .3rem;
    border: 2px solid #e3e1ef;
    display: inline-block;
    position: relative;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
    margin-right: .5rem;
}

input[type=checkbox]:checked {
    background-color: var(--clr-acc-main);

}

input[type=checkbox]::before {
    position: absolute;
    content: '\2713';
    font-size: 1rem;
    padding-bottom: 2px;
    color: #fff;
    transform: scale(0), translate(-50%, -50%);
    opacity: 0;
    top: 50%;
    left: 50%;
    transition: 0.3s all ease-in-out;
}

input[type=checkbox]:checked::before {
    transform: scale(1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

form>label {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    margin: 1rem 0;
}
